body{
    /* width: 100%; */
    /* height: 100%; */
    margin: 0;
    background-color: rgb(70, 62, 62);
    color: antiquewhite;
}
/* ヘッダー */
header{
    text-align: center;
    /* position: relative; */
    position: fixed;
    width: 100%;
    background-color: rgb(70, 62, 62);
    /* overflow: hidden; */
    z-index: 11;
}

.head{/* position: fixed; */}

header nav .menu{
    width: 69px;
    float: left;
    padding-top: 8px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 14px;
    margin-left: 49px;
    border-top: solid 2px gray;
    border-right: solid 2px gray;
    border-left: solid 2px gray;
}

header nav .menu:hover{
    cursor:pointer ;
}

.title{
    font-size: 2rem;
    border-bottom: solid 2px gray;
    padding-right: 138px;
}
/* メインビジュアル */
.bg_loop {
    position: relative;
    width: 100vw;
    height: calc(100vh - 29px);
    overflow: hidden;
}
.bg_loop::before,
.bg_loop::after {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 400vw;
    height: 100%;
    background-image:
        url("../img/085AME0226_TP_V.jpg"),
        url("../img/20210411-_1012997_TP_V.jpg"),
        url("../img/heriyakei419179_TP_V.jpg"),
        url("../img/KUMAKICHI1027539_TP_V.jpg");
    background-repeat: no-repeat;
    background-position: top 0px left 0vw,
        top 0px left 100vw,
        top 0px left 200vw,
        top 0px left 300vw;
    background-size: calc(100vw + 1px) 100%;
    content: "";
}
.bg_loop::before {
    animation: loop_400vw_1 50s linear infinite;
}
.bg_loop::after {
    left: -1px;
    right: 1px;
    animation: loop_400vw_2 50s linear infinite;
}

@keyframes loop_400vw_1 {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-400vw);
    }
}
@keyframes loop_400vw_2 {
    0% {
        transform: translateX(400vw);
    }
    100% {
        transform: translateX(0vw);
    }
}
@keyframes loop_200vw_1 {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-200vw);
    }
}
@keyframes loop_200vw_2 {
    0% {
        transform: translateX(200vw);
    }
    100% {
        transform: translateX(0vw);
    }
}
@keyframes loop_100vw_1 {
    0% {
        transform: translateX(0vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}
@keyframes loop_100vw_2 {
    0% {
        transform: translateX(100vw);
    }
    100% {
        transform: translateX(0vw);
    }
}
/* サイドバー */
.sideber{
    height: 100%;
    width: 190px;
    position: fixed;
    z-index:10;
    /* overflow: hidden; */
    margin-top: 48px;
}

.side{

padding-left: 0;

margin-top: 0;

width: 190px;

height: 100%;

background: linear-gradient(270deg, #463e3e 0%, antiquewhite);

opacity: 0.88;
}

.side .side-name{

list-style: none;

text-align: center;

padding-bottom: 20px;

padding-top: 20px;
}

.side .side-name a {
    color: antiquewhite;
    text-decoration: none;
    border-bottom: solid 2px;
}    

.side :hover{
    cursor: pointer;
}
.move{
    scroll-behavior: smooth;
}

/* サンプル */
.content{
    display: flex;
    align-items: center;
    max-width: 1400px;
    text-align: center;
    justify-content: space-between;
    margin: auto;
    /* padding-top: 100px; */
    margin-bottom: 200px;
    flex-wrap: wrap;
    position: relative;
}

.sample{
    
/* left: 50%; */
    
font-size: 2rem;
    
margin-top: 30px;
    
border-bottom: solid 2px gray;
    
text-align: center;
}

.detail{
    border: solid 2px gray;

    margin: 30px;
}

.detail img{
    max-width: 300px;
    padding: 30px;
}
.detail .tokyo{
    font-size: 1.4rem;
    margin: 10px 0 30px 0;
}

.detail .text{
    font-size: 1rem;
    margin-bottom: 30px;
}

.detail .more{

}

.detail .more a {
    
text-decoration: none;
    
color: antiquewhite;
}

h2{
    text-align: center;
}
/* 会員登録画面 */

.sign-up{
    margin-top: 14%;
}

h1{
    
text-align: center;
}

form{display: flex;flex-flow: column;/* margin-top: 15%; */}

input{

}

.register{

width: 45%;

height: 35px;

margin: auto;

margin-top: 36px;
}

button{

margin: auto;

margin-top: 36px;

text-align: center;

width: 10%;

height: 49px;
}

a{text-decoration: none;color: black;}